<div>
  <h2>
    Discount
  </h2>

  <%= fields_for @order.discount_code do |form| %>
    <%= form.label :code %>
    <%=
      form.text_field :code,
        'data-controller': 'order',
        'data-action': 'change->order#discountCode',
        class: 'form-control'
      %>
  <% end %>
</div>
