<div id='preview'>
  <div>
    <h2>Your order</h2>
  </div>

  <%- form_with model: @order, local: true do |form| %>
    <%= form.submit %>
  <% end %>
</div>
<div id='new-item'>
  <h2>Preview</h2>
</div>
